body {
  background-color: white;
}

.panel {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkgreen;
}

.question {
  text-align: center;
  font-size: 30px;
  width: 50%;
  margin-bottom: 20px;
}

.option {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin: 10px auto 20px; /* Adjusted margin */
}

.option label {
  margin-left: 5px; /* Add margin to space out the text */
}

.option-container {
  display: flex;
  align-items: center;
}

.option input[type="radio"] {
  margin-right: 5px; /* Add margin to space out the bullet points */
}

button {
  margin: 10px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: lightgreen;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #4f98c2;
  background-color: white;
  border: 1px solid #4f98c2;
}

#lifeline-5050 {
  background-color: #f39c12;
}

#lifeline-5050:hover {
  color: #f39c12;
}

#restart-btn {
  background-color: #e74c3c;
}

#restart-btn:hover {
  color: #e74c3c;
}

#score {
  font-size: 30px;
  color: darkslategreen;
}

