body {
    background-image:url('../images/background.jpg');
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 130%;
    color: #494949;
    line-height: 130%;
}

hr {
    height:1px;
    border-width:0;
    background-color:#bbbbbb;
}

header {
    width: 100%;
    padding: 1.5%;
}

section {
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 150%;
    border-radius: 8px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
    background-color: white;
}

small#welcome {
    font-size: 120%;
}

h1 {
    font-size: 50px;
    padding-top: 5px;
    text-align: center;
}

#CS-Addition {
    color: rgb(124, 171, 124);
    margin: 0 0 0 0;
    text-align: center;
}

ol {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: rgb(160, 190, 160);
    font-family: 'Lexend Deca', sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: background-color .3s;
}

button.help-page {
    font-size: 20px;;
}

button:hover {
    background-color: rgb(199, 219, 199);
}

a {
    text-decoration: none;
    color: #494949;
} 